ios/ti.nfc.xcodeproj/xcuserdata/*
ios/ti.nfc.xcodeproj/project.xcworkspace/xcuserdata/*
/ios/metadata.json
/ios/build
ios/ti.previewinteraction-iphone-*.zip
ios/PreviewInteraction.xcodeproj/xcuserdata/*
ios/PreviewInteraction.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
